---
layout: single
title: "Team"
permalink: /people.html
author_profile: true
---

{% include base_path %}

<h1>PhD Students</h1>

<h2>Current</h2>


{% for entry in site.data.people %}
{% if entry.type == "PhD Candidate" %}
<li>{{ entry.name }} ({{ entry.where }})</li>
{% endif %}
{% endfor %}


<h2>Visiting</h2>
{% for entry in site.data.people %}
{% if entry.type == "Visiting PhD Students" %}
<li>{{ entry.name }} ({{ entry.where }})</li>
{% endif %}
{% endfor %}


<h2>Long-term Collaboration</h2>
{% for entry in site.data.people %}
{% if entry.type == "Collaborating PhD Students" %}
<li>{{ entry.name }} ({{ entry.where }})</li>
{% endif %}
{% endfor %}

<br>
<br>

<h1>MSc Students</h1>
I am constantly supervising multiple master theses. <br>
See <a href="/education.html#MSc_supervision"><b>here</b></a> for the list of completed master theses I have supervised. <br>
My research has a strong hands-on style - a lot of the thesis projects are carried out together with societal or industrial partners. 