---
layout: single
title: "Team"
permalink: /people.html
author_profile: true
---

{% include base_path %}

<h1>PhD Students</h1>

<h2>Current</h2>


{% for entry in site.data.people %}
{% if entry.type == "PhD Candidate" %}
<li>{{ entry.name }} ({{ entry.where }})</li>
{% endif %}
{% endfor %}


<h2>Visiting</h2>
{% for entry in site.data.people %}
{% if entry.type == "Visiting PhD Students" %}
<li>{{ entry.name }} ({{ entry.where }})</li>
{% endif %}
{% endfor %}


<h2>Long-term Collaboration</h2>
{% for entry in site.data.people %}
{% if entry.type == "Collaborating PhD Students" %}
<li>{{ entry.name }} ({{ entry.where }})</li>
{% endif %}
{% endfor %}
